/*=====================
    03.Home slider CSS start
    ==========================*/

.home-slider,
.center-slider {
  .layout-7 {
    .home {
      height: 60vh;
      .slider-contain {
        height: 60vh;
      }
    }
  }
  .owl-prev,
  .owl-next {
    opacity: 0;
    transform: scale(1);
    transition: all 0.5s ease;
    margin-top: -10px;
    border-radius: 100% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    // background: rgba(255, 255, 255, 0.15) !important;
    i {
      font-size: 8px;
    }
  }
  .owl-next {
    right: 1px;
  }
  .owl-prev {
    left: 1px;
    z-index: 1;
  }
  .home {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
  }
  .slider-contain {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    h1 {
      margin-bottom: 0;
      margin-top: 10px;
      color: $dark-font;
    }
    h4 {
      font-weight: 700;
      letter-spacing: 0.4em;
      color: $grey;
      margin-bottom: 0;
      margin-top: -3px;
    }
    .btn-solid,
    .btn-outline {
      margin-top: 20px;
    }
  }
  .p-left {
    .slider-contain {
      justify-content: flex-start;
    }
  }
  .p-right {
    .slider-contain {
      justify-content: flex-end;
    }
  }
  .p-center {
    .slider-contain {
      justify-content: center;
    }
  }
  &.text-white {
    .slider-contain {
      h1,
      h4 {
        color: $white;
      }
    }
  }
  &:hover {
    .owl-prev,
    .owl-next {
      opacity: 1;
      transform: scale(2.5);
      transition: all 0.5s ease;
      &:before {
        opacity: 1;
      }
    }
    .owl-next {
      right: 100px;
    }
    .owl-prev {
      left: 100px;
    }
  }
}

.home-slider-container {
  .slider-contain {
    padding: 0 100px;
  }
}

.center-slider {
  border-left: 1px solid $border-grey;
  border-right: 1px solid $border-grey;
}

.banner-slider {
  .height-banner {
    height: 100%;
  }
  .home {
    height: 81vh;
    .slider-contain {
      height: 81vh;
    }
  }
  .home-banner {
    >div {
      img {
        width: 100%;
      }
      &:last-child {
        img {
          margin-top: 30px;
        }
      }
    }
  }
}

.absolute-banner {
  margin-top: -105px;
  .absolute-bg {
    background-color: white;
    position: relative;
    padding: 25px;
    box-shadow: 0 0 8px 0 #ddd;
    z-index: 1;
  }
}
