
/*=====================
    05.Blog CSS start
    ==========================*/

.blog-bg {
  background-color: $border-grey;
}

.blog {
  .owl-item {
    line-height: 1;
  }
}

.classic-effect {
  position: relative;
  overflow: hidden;
  &:before,
  &:after {
    background: var(--theme-deafult);
    width: 25%;
    position: absolute;
    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s steps(4);
    transition: all 0.3s steps(4);
    z-index: 1;
    bottom: 100%;
    top: 0;
  }
  &:before {
    left: 0;
    transition-delay: 0s;
  }
  &:after {
    left: 25%;
    transition-delay: 0.025s;
  }
  span {
    &:before,
    &:after {
      background: var(--theme-deafult);
      width: 25%;
      position: absolute;
      content: '';
      opacity: 0;
      -webkit-transition: all 0.3s steps(4);
      transition: all 0.3s steps(4);
      z-index: 1;
      bottom: 100%;
      top: 0;
    }
    &:before {
      left: 50%;
      transition-delay: 0.05s;
    }
    &:after {
      left: 75%;
      transition-delay: 0.15s;
    }
  }
  &:hover {
    &:before,
    &:after {
      bottom: 0;
      opacity: 0.5;
    }
    span {
      &:before,
      &:after {
        bottom: 0;
        opacity: 0.5;
      }
    }
  }
}

.basic-effect {
  position: relative;
  overflow: hidden;
  img {
    transition: all 0.5s ease;
  }
  &:after {
    position: absolute;
    content: "";
    background: linear-gradient(-180deg, rgba(var(--theme-gradient1), 0.8) 0%, rgba(var(--theme-gradient2), 0.8) 99%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
  }
  &:hover {
    &:after {
      opacity: 1;
      transition: all 0.5s ease;
    }
    img {
      transform: scale(1.2) rotate(5deg);
      transition: all 0.5s ease;
    }
  }
}

.blog-details {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  h4 {
    color: var(--theme-deafult);
    margin-top: 25px;
    line-height: 1;
    margin-bottom: 0;
  }
  p {
    color: $dark-font;
    font-size: 18px;

    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 0;
    transition: all 0.5s ease;
    &:hover {
      color: var(--theme-deafult);
      transition: all 0.5s ease;
    }
  }
  h6 {
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 0;
  }
}

.blog-2 {
  .blog-details {
    h6 {
      padding: 5px 0;
    }
  }
}

