


/*=====================
    07.About CSS start
    ==========================*/

.about-text {
  p {
    line-height: 28px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 50px;
  }
}
