/*=====================
1.Electronics Demo CSS
==========================*/

.layout-8 {
  padding: 0 80px;
  .layout-8-bg {
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    animation: 10s linear 0s normal none infinite animate;
    .layout7-product {
      .product-box {
        .details-product {
          opacity: 1;
        }
        &:hover {
          .details-product {
            animation: none;
          }
        }
      }
    }
  }
}

.white-bg {
  background-color: $white;
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 500px;
  }
}


/*=====================
2.Fashion-3 Demo CSS
==========================*/

.box-layout-body {
  background-color: $grey-lighter;
  .box-layout-header {
    background-color: $white;
  }
  .box-layout {
    margin-top: -70px;
    margin-bottom: 5px;
    box-shadow: 0 0 8px 0 #ddd;
    position: relative;
    background-color: white;
    z-index: 1;
    .full-banner {
      margin-left: -15px;
      margin-right: -15px;
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
}


/*=====================
3.Beauty Demo css
==========================*/

.beauty-about {
  .about-text {
    p {
      text-align: left;
    }
  }
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .small-section {
    padding-top: 20px;
  }
  .service {
    .service-block1 {
      img {
        margin-bottom: 10px;
      }
      h5 {
        font-weight: 700;
        margin-bottom: 0;
      }
    }
  }
}


/*=====================
4.Flower Demo css
==========================*/

.flower-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.bg-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  padding: 70px 50px 60px 50px;
  .title4 {
    .line {
      margin-bottom: 25px;
    }
  }
  .theme-tab {
    .tab-title {
      margin-bottom: 30px;
    }
  }
}


/*=====================
5.Nursery Demo css
==========================*/

.layout-20 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
}


/*=====================
6.Fashion-2 Demo CSS
==========================*/

.box-layout-body {
  background-color: $grey-lighter;
  .box-layout-header {
    background-color: $white;
  }
  .box-layout {
    margin-top: -70px;
    margin-bottom: 5px;
    box-shadow: 0 0 8px 0 #ddd;
    position: relative;
    background-color: white;
    .full-banner {
      margin-left: -15px;
      margin-right: -15px;
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
}


/*=====================
7.Portfolio CSS
==========================*/

.portfolio-section {
  padding-bottom: 40px;
  .article-title {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    color: white;
    transition: all 0.5s ease;
    text-align: center;
    float: left;
    font-size: 18px;
    line-height: 24px;
    a {
      color: white;
    }
  }
  .isotopeSelector {
    float: left;
    width: 100%;
    position: relative;
    animation: zoomIn 0.4s linear;
    .overlay {
      position: relative;
      border: 1px solid $round-border;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .isotopeSelector {
    margin-bottom: 30px;
    img {
      transition: all .4s ease;
    }
    .overlay-background {
      transform: scale(0);
      transition: all .4s ease;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: white;
        padding: 10px;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        color: var(--theme-deafult);
        font-size: 22px;
        display: none;
        transition: all 0.4s ease;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
      }
    }
    &:hover {
      img {
        transform: scale(1.2) rotate(2deg);
        transition: all .4s ease;
      }
      .overlay-background {
        transform: scale(1);
        border: 3px solid white;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(var(--theme-deafult), 0.2);
        transition: all 0.4s ease;
        i {
          display: flex;
          transition: all 0.4s ease;
        }
      }
    }
  }
  .border-portfolio {
    margin: 3px;
    overflow: hidden;
  }
  #form1 {
    padding-bottom: 20px;
  }
  .filter-button {
    padding: 0 24px;
    font-size: 20px;
    line-height: 35px;
    border: none;
    background-color: white;
    &.active {
      background-color: var(--theme-deafult);
      color: $white;
    }
  }
  &.fullwidth-portfolio {
    .isotopeSelector {
      padding-left: 7px;
      padding-right: 7px;
      margin-bottom: 14px;
    }
  }
  &.metro-section {
    .isotopeSelector {
      &:hover {
        img {
          //transform: scale(1) rotate(0deg);
          //transition: all 0.5s ease;
        }
      }
    }
    .product-box {
      .product-detail {
        opacity: 0;
        position: absolute;
        background-color: $white;
        padding: 10px;
        transition: all 0.5s ease;
        width: 65%;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -10px;
        text-align: center;
        h6 {
          color: #525252;
          padding-top: 0;
          margin-top: -2px;
        }
        h4 {
          font-weight: 400;
          color: $black;
        }
      }
      .cart-wrap {
        top: 7px;
        right: 7px;
        opacity: 1;
        button {
          border: 1px solid $white;
          border-radius: 100%;
          background-color: rgba($white, 0.8);
          opacity: 1;
          i {
            padding: 7px;
            color: $font-color;
          }
        }
        a {
          i {
            border-radius: 100%;
            border: 1px solid $white;
            margin: 5px 0;
            background-color: rgba($white, 0.8);
            padding: 7px;
            color: $font-color;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      &:hover {
        .product-detail {
          opacity: 1;
          transition: all 0.5s ease;
          bottom: 15px;
        }
        .cart-wrap {
          button {
            animation: none;
          }
          a {
            i {
              opacity: 1;
            }
            &:nth-child(2) {
              i {
                animation: fadeInDown 500ms ease-in-out;
              }
            }
            &:nth-child(3) {
              i {
                animation: fadeInDown 700ms ease-in-out;
              }
            }
            &:nth-child(4) {
              i {
                animation: fadeInDown 1000ms ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}



/*=====================
8.electronic demo CSS start
==========================*/

.layout-8 {
  padding: 0 80px;
  .layout-8-bg {
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    animation: 10s linear 0s normal none infinite animate;
    .layout7-product {
      .product-box {
        .details-product {
          opacity: 1;
        }
        &:hover {
          .details-product {
            animation: none;
          }
        }
      }
    }
  }
}



/*=====================
9.pets demo CSS start
==========================*/

.pets-box {
  .product-box {
    .img-wrapper {
      .cart-info {
        position: absolute;
        padding: 10px;
        border: none;
        transform: perspective(500px) rotateX(90deg);
        bottom: 0;
        z-index: 1;
        &:after {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: var(--theme-deafult);
          opacity: 0.3;
          z-index: -1;
        }
        i {
          padding: 5px;
          margin: 0 3px;
          background-color: white;
        }
        a {
          border-left: none;
        }
      }
    }
    .product-detail {
      text-align: center;
      background-color: #fafafa;
      .rating {
        margin-top: 0;
        padding-top: 15px;
      }
    }
    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
      .cart-info {
        transform: perspective(500px) rotateX(0deg);
      }
    }
  }
  .br {
    &.br-default {
      margin: 0 0 15px 0;
      justify-content: center;
      display: flex;
    }
  }
  .product-m {
    .owl-item {
      .img-wrapper {
        margin: 0;
      }
    }
  }
}


.j-box {
  .product-box {
    width: auto;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 10px;
    .cart-info {
      display: flex;
      left: 0;
      background-color: rgba(250, 250, 250, 0.84);
      border-top: 1px solid $round-border;
      border-bottom: 1px solid $round-border;
      bottom: -30px;
      transition: all 0.5s ease;
      a {
        border-left: 1px solid $round-border;
        i {
          padding: 12px;
        }
      }
    }
    .product-detail {
      padding-left: 15px;
      padding-bottom: 15px;
      background-color: #fafafa;
      .rating {
        margin-top: 0;
        padding-top: 15px;
      }
    }
    &:hover {
      .img-wrapper {
        .cart-info {
          opacity: 1;
          transition: all 0.5s ease;
          bottom: 0;
          button {
            animation: none;
          }
          a {
            &:nth-child(2) i {
              animation: none;
            }
            &:nth-child(3) i {
              animation: none;
            }
            &:nth-child(4) i {
              animation: none;
            }
          }
        }
      }
    }
  }
}

.pet-parallax {
  position: relative;
  .pet-decor {
    position: absolute;
    left: 110px;
    bottom: -164px;
  }
  .banner-contain {
    h4,
    h3,
    p {
      color: #212121;
    }
    p {
      max-width: 75%;
      margin: 0 auto;
      line-height: 22px;
      font-size: 16px;
      letter-spacing: 0.04em;
    }
    h4 {
      letter-spacing: 0.05em;
      padding-top: 0 !important;
      margin-bottom: 0;
      line-height: 1.3;
      margin-top: -7px;
    }
    h3 {
      margin: 15px 0;
      font-size: 48px;
    }
  }
  .full-banner {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}


/*=====================
10.GYM layout  CSS start
==========================*/

.gym-slider {
  .home-slider {
    .home {
      height: 85vh;
      .slider-contain {
        height: 85vh;
        h4,
        h1 {
          color: $white;
        }
      }
    }
  }
}
.gym-parallax {
  .title1 {
    h2 {
      color: white;
    }
  }
  .product-para {
    p {
      color: white;
    }
  }
  .instagram-box {
    .overlay {
      background: linear-gradient(-180deg, rgba(var(--theme-gradient1), 0.8) 0%, rgba(var(--theme-gradient2), 0.8) 99%);
    }
  }
}

.gym-product {
  text-align: center;
  .product-box {
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 8px 0 #ddd;
    transition: all 0.5s ease;
    .img-wrapper {
      position: unset;
      .cart-info {
        z-index: 1;
        display: flex;
        left: 0;
        height: 100%;
        align-items: center;
        bottom: 0;
        top: 0;
        i {
          background: linear-gradient(180deg, var(--theme-gradient1) 0%, var(--theme-gradient2) 99%);
          color: rgba($white, 0.6);
          border-radius: 100%;
          margin: 0 5px;
          transition: all 0.5s ease;
        }
        button,
        a {
          &:hover {
            i {
              color: white;
            }
          }
        }
      }
    }
    .product-detail {
      h4 {
        color: $dark-font !important;
      }
      h6 {
        color: $grey;
      }
    }
    .br {
      &.br-default {
        display: flex;
        justify-content: center;
      }
    }
    &:hover {
      transform: scale(1.02);
      transition: all 0.5s ease;
      .img-wrapper {
        .cart-info {
          opacity: 1;
          transition: all 0.5s ease;
          button {
            animation: fadeInUp 300ms ease-in-out;
          }
          a {
            &:nth-child(2) i {
              animation: fadeInUp 500ms ease-in-out;
            }
            &:nth-child(3) i {
              animation: fadeInUp 700ms ease-in-out;
            }
            &:nth-child(4) i {
              animation: fadeInUp 1000ms ease-in-out;
            }
          }
        }
      }
    }
  }
  .partition-cls {
    >div {
      &:nth-child(-n+4) {
        margin-bottom: 30px;
      }
    }
  }
}

.gym-blog {
  .blog-details {
    text-align: left;
    padding-left: 0;
    p {
      margin-bottom: 3px;
    }
  }
  hr.style1 {
    margin-left: 0;
  }
}

.gym-banner {
  .collection-banner {
    .contain-banner {
      h4,
      h2 {
        color: $white;
      }
    }
  }
}

.bg-img-gym {
  background-image: url("#{$assetspath}/gym-bg.jpg");
  .dark-layout {
    background-color: transparent;
  }
  .footer-theme2 {
    p {
      color: $white;
    }
    .contact-details {
      li {
        color: $white;
        a {
          color: $white;
        }
      }
    }
    .footer-link,
    .footer-link-b {
      a {
        color: #ebebeb;
      }
    }
  }
  .sub-footer {
    &.darker-subfooter {
      background-color: black;
      p {
        color: $white;
      }
    }
  }
}

.gym-slider {
  .home-slider {
    .home {
      height: 85vh;
      .slider-contain {
        height: 85vh;
        h4,
        h1 {
          color: $white;
        }
      }
    }
  }
}

.header-gym {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: transparent;
  .cart_qty_cls {
    top: 11%;
  }
  .main-navbar {
    .nav-menu {
      >li {
        >a {
          .lable-nav {
            top: 2px;
          }
        }
      }
    }
  }
  .main-menu {
    background-color: rgba($black, 0.8);
    padding: 0 15px;
    z-index: 1;
    .menu-left {
      .navbar {
        padding: 20px 45px 20px 0;
        i {
          color: white;
        }
      }
    }
    .brand-logo {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .onhover-div {
      .show-div {
        top: 70px;
      }
    }
  }
  .sidebar-back {
    i {
      color: black;
    }
  }
  .sm-horizontal {
    >li {
      >a {
        padding-top: 20px;
        padding-bottom: 20px;
        color: $white;
        &:hover,
        &:active,
        &:focus,
        &.highlighted {
          padding-top: 20px;
          padding-bottom: 20px;
          color: $white;
        }
      }
    }
    li {
      //.lable-nav {
      //  top:0;
      //  background: #373B44;  /* fallback for old browsers */
      //  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
      //  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      //  &:before {
      //    border-top: 5px solid #4286f4;
      //  }
      //}
    }
  }
  .onhover-div {
    padding-top: 20px;
    padding-bottom: 20px;
    >div {
      img {
        filter: brightness(54);
      }
    }
  }
  .top-header {
    z-index: 1;
    position: relative;
    background: transparent;
    .header-contact {
      li {
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
    .header-dropdown {
      li {
        color: $white;
        a {
          color: $white;
          i {
            color: $white;
            padding-right: 8px;
          }
        }
      }
    }
    &.blue-layout {
      border-bottom: 1px solid #223b7d;
    }
  }
}

/*=====================
10.Tools layout  CSS start
==========================*/


.header-tools {
  position: absolute;
  width: 100%;
  top: 35px;
  z-index: 2;
  background-color: transparent;
  .container {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
  }
  .top-header {
    background-color: transparent;
    .container {
      background-color: var(--theme-deafult);
    }
    .header-contact {
      padding: 10px 0;
      li {
        color: $white;
      }
    }
    .header-dropdown {
      li {
        color: $white;
        padding: 10px 25px;
        padding-right: 0;
        a {
          color: $white;
          i {
            color: $white;
          }
        }
        &:hover {
          i {
            color: $white;
          }
        }
      }
    }
  }
  .logo-menu-part {
    background-color: #fff;
    border-bottom: 2px solid var(--theme-deafult);
  }
  .main-menu {
    .menu-left {
      .navbar {
        padding: 25px 45px 25px 0;
      }
    }
    .brand-logo {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  .sm-horizontal {
    >li {
      >a {
        padding-top: 25px;
        padding-bottom: 25px;
        &:hover,
        &:active,
        &:focus,
        &.highlighted {
          padding-top: 25px;
          padding-bottom: 25px;
        }
      }
    }
    li {
      .lable-nav {
        top: 5px;
      }
    }
  }
  .onhover-div {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .cart_qty_cls {
    top: 16%;
    right: -14px;
  }
}

.tools-bg {
  background-color: #f5f5f5;
  section {
    background-color: #f5f5f5;
  }
}

.tools-parallax {
  &.small-slider {
    .home-slider {
      .home {
        .slider-contain {
          h4,
          h1 {
            color: $white;
          }
        }
      }
    }
  }
}

.tools-parallax-product {
  &.full-banner {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .tools-description {
    h3 {
      color: $white;

      margin-top: -5px;
    }
    .tools-form {
      .search-box {
        width: 75%;
        margin: 20px 0;
      }
      .btn-find {
        width: 75%;
        padding: 7px 29px;
        background-size: 1000px;
      }
    }
  }
  .tools-grey {
    .owl-prev,
    .owl-next {
      transform: scale(1.5);
    }
  }
}

.tools_slider {
  .home-slider {
    .home {
      .container {
        position: relative;
      }
      .tools-parts {
        position: absolute;
        top: 0;
        right: 10%;
        display: flex;
        align-items: center;
        height: 75vh;
        margin-top: 50px;
      }
      .tools-parts1 {
        position: absolute;
        top: 0;
        right: 20%;
        display: flex;
        align-items: center;
        height: 75vh;
        margin-top: 50px;
      }
    }
    .slider-contain {
      margin-top: 70px;
      margin-left: 150px;
      h4,
      h1 {
        color: $white;
      }
    }
  }
}

.tools-grey {
  .product-m {
    .owl-item {
      .img-wrapper {
        margin: 0;
      }
    }
  }
  .product-box {
    width: auto;
    display: inline-block;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    margin: 0 10px;
    .img-wrapper {
      .lable-block {
        transition: all 0.5s ease;
      }
    }
    .cart-info {
      display: flex;
      left: 0;
      bottom: -30px;
      transition: all 0.5s ease;
      .mobile-quick-view {
        display: none;
      }
      a {
        background-color: #eef0f1;
        border-radius: 5px;
        i {
          color: $grey2;
        }
        &:hover {
          background-color: var(--theme-deafult);
          transition: all 0.5s ease;
          i {
            color: $white;
            transition: all 0.5s ease;
          }
        }
      }
      button {
        width: 55%;
        background-color: #eef0f1;
        color: $grey2;
        border-radius: 5px;
        margin: 0 5px;
        transition: all 0.5s ease;
        i {
          display: none;
        }
        &:hover {
          background-color: var(--theme-deafult);
          color: $white;
          transition: all 0.5s ease;
        }
      }
    }
    .quick-view-part {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      background-color: var(--theme-deafult);
      border-radius: 100%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.5s ease;
      i {
        font-size: 18px;
        color: $white;
      }
    }
    .product-info {
      padding-left: 15px;
      padding-bottom: 15px;
      background-color: $white;
      border-top: 1px solid rgba($round-border, 0.2);
      .rating {
        margin-top: 0;
        padding-top: 15px;
      }
    }
    .br {
      &.br-default {
        display: flex;
        justify-content: center;
      }
    }
    &:hover {
      .img-wrapper {
        .front {
          img {
            opacity: 0.05;
            transition: all 0.5s ease;
          }
        }
        .cart-info {
          opacity: 1;
          transition: all 0.5s ease;
          bottom: 10px;
          button {
            animation: none;
          }
          a {
            &:nth-child(2) i {
              animation: none;
            }
            &:nth-child(3) i {
              animation: none;
            }
            &:nth-child(4) i {
              animation: none;
            }
          }
        }
        .lable-block {
          display: none;
          transition: all 0.5s ease;
        }
      }
      .quick-view-part {
        opacity: 1;
        transition: all 0.5s ease;
      }
      .ribbon {
        display: none;
        transition: all 0.5s ease;
      }
    }
  }
  .ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
    transition: all 0.5s ease;
    span {
      font-size: 10px;
      font-weight: bold;
      color: #FFF;

      text-align: center;
      line-height: 20px;
      transform: rotate(-45deg);
      width: 100px;
      display: block;
      background: var(--theme-deafult);
      box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
      position: absolute;
      top: 19px;
      left: -21px;
      &:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 100%;
        z-index: -1;
        border-left: 3px solid var(--theme-deafult);
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid var(--theme-deafult);
      }
      &:after {
        content: "";
        position: absolute;
        right: 0px;
        top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid var(--theme-deafult);
        border-bottom: 3px solid transparent;
        border-top: 3px solid var(--theme-deafult);
      }
    }
  }
}

.category-tools {
  .category-m {
    .category-wrapper {
      background-color: white;
      border: none;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    }
  }
}

.banner-tools {
  margin-top: 30px;
  border: 1px solid $round-border;
  overflow: hidden;
  img {
    transition: all 0.5s ease;
  }
  &:hover {
    img {
      transform: scale(1.05);
      transition: all 0.5s ease;
    }
  }
}

.tools-brand {
  .row {
    background-color: white;
    padding: 25px 0;
    box-shadow: 0 0 8px 0 #ddd;
    margin: 0;
  }
}

.sticky-footer {
  background-image: url("#{$assetspath}/tools-bg.jpg");
  >section {
    background-color: transparent !important;
    p {
      color: $grey-font;
    }
    .sub-title {
      .footer-title {
        &.active {
          .according-menu {
            font: normal normal normal 14px/1 $font-awesome;
            &.before {
              content: "\f068";
            }
          }
        }
      }
      h4 {
        color: $white;
      }
      li {
        a {
          color: $grey-font;
        }
      }
      .contact-list {
        i {
          color: $grey-font;
        }
        li {
          color: $grey-font;
        }
      }
    }
    .footer-social {
      i {
        color: $grey-font;
      }
    }
  }
  >div.sub-footer {
    background-color: #141111 !important;
    p {
      color: $grey8 !important;
    }
  }
}
